@using BangumiProject.Controllers
@model Index
@{
    ViewData["Title"] = "Home page";
    var Home = Final.Route_Profile_UID;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mdui-row mdui-grid-list">
    <h3 class="header">最近更新</h3>
    @foreach (var item in Model.Animes)
    {
        <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12 ">
            <div class="mdui-card mdui-hoverable">
                <div class="mdui-card-media">
                    <img class="mdui-img-fluid" src="@Model.AnimePic(item)" />
                    <div class="mdui-card-media-covered" style="background:rgba(0, 0, 0, 0.57);">
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title">@item.AnimeName</div>
                            <div class="mdui-card-primary-subtitle">@Model.AnimeInfo(item)</div>
                        </div>
                        <div class="mdui-card-actions">
                            <a class="mdui-btn mdui-ripple mdui-ripple-white" asp-route="GetBangumi" asp-route-id="@item.AnimeID">
                                @item.AnimeName
                            </a>
                            <a class="mdui-btn mdui-ripple mdui-ripple-white" asp-route="GetBangumi" asp-route-id="@item.AnimeID">
                                @item.AnimeName
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@{
    string w1 = "";
    string w2 = "";
    string w3 = "";
    string w4 = "";
    string w5 = "";
    string w6 = "";
    string w7 = "";
    switch (DateTime.Now.DayOfWeek)
    {
        case DayOfWeek.Friday:
            w5 = "active";
            break;
        case DayOfWeek.Monday:
            w1 = "active";
            break;
        case DayOfWeek.Saturday:
            w6 = "active";
            break;
        case DayOfWeek.Sunday:
            w7 = "active";
            break;
        case DayOfWeek.Thursday:
            w4 = "active";
            break;
        case DayOfWeek.Tuesday:
            w2 = "active";
            break;
        case DayOfWeek.Wednesday:
            w3 = "active";
            break;
        default:
            break;
    }
}

<div class="mdui-row">
    <br />
    <div class="mdui-divider"></div>
    <br />
</div>

<div class="mdui-row mdui-grid-list">
    <div class="mdui-col-md-12">
        <div class="mdui-tab" mdui-tab>
            <a href="#week-tab1" class="@w1 mdui-ripple">星期一</a>
            <a href="#week-tab2" class="@w2 mdui-ripple">星期二</a>
            <a href="#week-tab3" class="@w3 mdui-ripple">星期三</a>
            <a href="#week-tab4" class="@w4 mdui-ripple">星期四</a>
            <a href="#week-tab5" class="@w5 mdui-ripple">星期五</a>
            <a href="#week-tab6" class="@w6 mdui-ripple">星期六</a>
            <a href="#week-tab7" class="@w7 mdui-ripple">星期天</a>
        </div>
        <div id="week-tab1" class="mdui-row mdui-grid-list">
            <ul class="mdui-list">
                @foreach (var item in Model.WeekAnimes[1])
                {
                    <li class="mdui-list-item mdui-ripple mdui-col-md-6">
                        <div class="mdui-list-item-avatar"><img src="@Model.AnimePic(item)" /></div>
                        <div class="mdui-list-item-content">
                            <div class="mdui-list-item-title">
                                <a asp-route="@Final.Route_Bangumi_Details" asp-route-id="@item.AnimeID">@item.AnimeName</a>
                            </div>
                            <div class="mdui-list-item-text mdui-list-item-three-line">@Model.AnimeInfo(item)</div>
                        </div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">chat_bubble</i>
                    </li>
                }
            </ul>
        </div>
        <div id="week-tab2" class="mdui-row mdui-grid-list">
            <ul class="mdui-list">
                @foreach (var item in Model.WeekAnimes[2])
                {
                    <li class="mdui-list-item mdui-ripple mdui-col-md-6">
                        <div class="mdui-list-item-avatar"><img src="@Model.AnimePic(item)" /></div>
                        <div class="mdui-list-item-content">
                            <div class="mdui-list-item-title">
                                <a asp-route="@Final.Route_Bangumi_Details" asp-route-id="@item.AnimeID">@item.AnimeName</a>
                            </div>
                            <div class="mdui-list-item-text mdui-list-item-three-line">@Model.AnimeInfo(item)</div>
                        </div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">chat_bubble</i>
                    </li>
                }
            </ul>
        </div>
        <div id="week-tab3" class="mdui-row mdui-grid-list">
            <ul class="mdui-list">
                @foreach (var item in Model.WeekAnimes[3])
                {
                    <li class="mdui-list-item mdui-ripple mdui-col-md-6">
                        <div class="mdui-list-item-avatar"><img src="@Model.AnimePic(item)" /></div>
                        <div class="mdui-list-item-content">
                            <div class="mdui-list-item-title">
                                <a asp-route="@Final.Route_Bangumi_Details" asp-route-id="@item.AnimeID">@item.AnimeName</a>
                            </div>
                            <div class="mdui-list-item-text mdui-list-item-three-line">@Model.AnimeInfo(item)</div>
                        </div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">chat_bubble</i>
                    </li>
                }
            </ul>
        </div>
        <div id="week-tab4" class="mdui-row mdui-grid-list">
            <ul class="mdui-list">
                @foreach (var item in Model.WeekAnimes[4])
                {
                    <li class="mdui-list-item mdui-ripple mdui-col-md-6">
                        <div class="mdui-list-item-avatar"><img src="@Model.AnimePic(item)" /></div>
                        <div class="mdui-list-item-content">
                            <div class="mdui-list-item-title">
                                <a asp-route="@Final.Route_Bangumi_Details" asp-route-id="@item.AnimeID">@item.AnimeName</a>
                            </div>
                            <div class="mdui-list-item-text mdui-list-item-three-line">@Model.AnimeInfo(item)</div>
                        </div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">chat_bubble</i>
                    </li>
                }
            </ul>
        </div>
        <div id="week-tab5" class="mdui-row mdui-grid-list">
            <ul class="mdui-list">
                @foreach (var item in Model.WeekAnimes[5])
                {
                    <li class="mdui-list-item mdui-ripple mdui-col-md-6">
                        <div class="mdui-list-item-avatar"><img src="@Model.AnimePic(item)" /></div>
                        <div class="mdui-list-item-content">
                            <div class="mdui-list-item-title">
                                <a asp-route="@Final.Route_Bangumi_Details" asp-route-id="@item.AnimeID">@item.AnimeName</a>
                            </div>
                            <div class="mdui-list-item-text mdui-list-item-three-line">@Model.AnimeInfo(item)</div>
                        </div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">chat_bubble</i>
                    </li>
                }
            </ul>
        </div>
        <div id="week-tab6" class="mdui-row mdui-grid-list">
            <ul class="mdui-list">
                @foreach (var item in Model.WeekAnimes[6])
                {
                    <li class="mdui-list-item mdui-ripple mdui-col-md-6">
                        <div class="mdui-list-item-avatar"><img src="@Model.AnimePic(item)" /></div>
                        <div class="mdui-list-item-content">
                            <div class="mdui-list-item-title">
                                <a asp-route="@Final.Route_Bangumi_Details" asp-route-id="@item.AnimeID">@item.AnimeName</a>
                            </div>
                            <div class="mdui-list-item-text mdui-list-item-three-line">@Model.AnimeInfo(item)</div>
                        </div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">chat_bubble</i>
                    </li>
                }
            </ul>
        </div>
        <div id="week-tab7" class="mdui-row mdui-grid-list">
            <ul class="mdui-list">
                @foreach (var item in Model.WeekAnimes[0])
                {
                    <li class="mdui-list-item mdui-ripple mdui-col-md-6">
                        <div class="mdui-list-item-avatar"><img src="@Model.AnimePic(item)" /></div>
                        <div class="mdui-list-item-content">
                            <div class="mdui-list-item-title">
                                <a asp-route="@Final.Route_Bangumi_Details" asp-route-id="@item.AnimeID">@item.AnimeName</a>
                            </div>
                            <div class="mdui-list-item-text mdui-list-item-three-line">@Model.AnimeInfo(item)</div>
                        </div>
                        <i class="mdui-list-item-icon mdui-icon material-icons">chat_bubble</i>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>



<script>
    var el = document.querySelectorAll(".tabs");
    var instance = M.Tabs.init(el);
</script>
<table border="1" style="width:100%;table-layout:fixed;">

    <tr>
        <th colspan="2" style="background-color:hotpink;">博文</th>
    </tr>
    <tr>
        <td>
            新功能稍后赶来，不要太期待
        </td>
        <td>
            新功能稍后赶来，不要太期待
        </td>
    </tr>
    <tr>
        <th colspan="2" style="background-color:hotpink;">新闻</th>
    </tr>
    <tr>
        <td>
            新功能稍后赶来，不要太期待
        </td>
        <td>
            新功能稍后赶来，不要太期待
        </td>
    </tr>
    <tr>
        <th colspan="2" style="background-color:hotpink;">更新日记</th>
    </tr>
    <tr>
        <th colspan="2">
            @foreach (var item in Model.Log)
            {
                <h2>@item[0]</h2>
                for (int i = 1; i < item.Count; i++)
                {
                    <p>@item[i]</p>
                }
            }
        </th>
    </tr>
    <tr>
        <th colspan="2" style="background-color:hotpink;">用户列表</th>
    </tr>
    <tr>
        <td>
            这是一个完成基本功能的程序，还有很多不完善的地方。这个是用来测试用的。
        </td>
        <td>
            总用户数：@Model.AllUsers.Count <br />
            @foreach (var item in Model.AllUsers)
            {
                <a asp-route="@Home" asp-route-uid="@item.Id">@item.UserName</a><br />
            }
        </td>
    </tr>
    @ViewData["test"]
</table>