@using Microsoft.AspNetCore.Identity
@using BangumiProjectDBServices.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    bool IsSignED = SignInManager.IsSignedIn(User);
    string UserName = UserManager.GetUserName(User);
    var Model = new Tuple<bool, string>(IsSignED, UserName);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lilys.moe</title>
    <link rel="stylesheet" href="@Final.StaticFiles_css" />
    <script src="@Final.StaticFiles_JS"></script>
</head>
<body class="padding-top mdui-theme-primary-orange">
    @* 顶部菜单栏 *@
    <partial name="MenuBar" model="Model" />
    @* 右下角的那个工具按钮 *@
    <partial name="ToolBar" model="Model" />
    @* 这里显示的就是内容了 *@
    <div class="mdui-container">
        @RenderBody()
    </div>
    @* 这里显示的就是页面下部了 *@
    <partial name="Footer" />
    @RenderSection("Scripts", required: false)
</body>
</html>
