@using BangumiProject.Controllers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BangumiProject</title>

    @*<environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>*@
    <link rel="stylesheet" href="@Final.StaticFiles_css" />
    <script src="@Final.StaticFiles_JS"></script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Lilys</a>
                <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a asp-route="Index">主页</a></li>
                    <li><a asp-route="About">关于</a></li>
                    <li><a asp-route="GetAddBangumi">添加动画</a></li>
                    <li><a asp-route="Bangumi">动画索引</a></li>
                    <li><a asp-route="FileList">文件上传</a></li>
                    <li><partial name="_LoginPartial" /></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-menu">
        <li><a asp-route="Index">主页</a></li>
        <li><a asp-route="About">关于</a></li>
        <li><a asp-route="FileList">文件上传</a></li>
        <li><partial name="_LoginPartial" /></li>
    </ul>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems, Option = {
                edge: 'left',
                draggable: true
            });
        });
    </script>
    <div class="container">
        @RenderBody()
    </div>


    <footer class="page-footer pin-bottom">
        <div class="container">
            Test

        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 PowerBy Asp.Net Core
            </div>
        </div>
    </footer>


    <partial name="_CookieConsentPartial" />
    @*<environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
