@using BangumiProject.Controllers
@model Bangumi_OneAnime
@{
    ViewData["Title"] = "Bangumi_OneAnime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table border="1" style="width:100%;table-layout:fixed;">
    <tr>
        <td><img src="@Model.AnimePic" style="width:100%;" /></td>
        <td>
            @Model.Anime.AnimeName <br />
            @if (Model.IsShowEdit)
            {
                <a asp-route="@Final.Route_Bangumi_Edit" asp-route-id="@Model.Anime.AnimeID">编辑动画</a>
            }

        </td>
    </tr>
    <tr style="background-color:mistyrose;">
        <td>
            @if (Model.IsSignIn)
            {
                <button id="AnimeSub" onclick="Sub();">订阅动画</button>
            }
            else
            {
                <a asp-area="Identity" asp-page="/Account/Login">请登录</a>
            }
        </td>

        <td>
            状态：
            @{
                var str = "";
                if (Model.IsSub)
                {
                    str = "连载中，正在看";
                    if (Model.Anime.AnimeNum == Model.UserAnimeNumber)
                    {
                        if (Model.Anime.IsEnd)
                        {
                            str = "已完结，已经全部看完";
                        }
                        else
                        {
                            str = "连载中，已看完最新更新";
                        }

                    }
                }
                else
                {
                    if (Model.Anime.IsEnd)
                    {
                        str = "已完结，未订阅";
                    }
                    else
                    {
                        str = "连载中，未订阅";
                    }
                }
            }
            @str
        </td>
    </tr>
    <tr>
        <td>动画集数：</td>
        <td>
            <div class="row">
                @{
                    int k = 0;
                    var num = Model.Anime.AnimeNum;
                    int a = 1;
                    int b = 10;
                }
                <div class="mdui-tab" mdui-tab>
                    @foreach (var item in Model.Page.PageName)
                    {
                        string id = $"#test{k}";
                        <a class="mdui-ripple" href="@id">@item</a>
                        k++;
                    }
                </div>
                @for (int i = 0; i < Model.Page.AllPage; i++)
                {
                    string id = $"test{i}";
                    <div id="@id">
                        @for (int j = a; j <= b; j++)
                        {
                            @if (j == Model.UserAnimeNumber)
                            {
                                <button onclick="upload(@j);" class="mdui-btn mdui-color-amber mdui-ripple">现在看到：第 @j 集</button><br />
                            }
                            else
                            {
                                <button onclick="upload(@j);" class="mdui-btn mdui-color-pink-100">@j 集</button><br />
                            }
                            @if ((num = num - 1) == 0)
                            {
                                break;
                            }
                        }
                    </div>
                    a = a + 10;
                    b = b + 10;
                }
            </div>
        </td>
    </tr>

    <tr>
        <td>动画简介：</td>
        <td>@Model.Anime.AnimeInfo</td>
    </tr>
    <tr>
        <td>放送时间：</td>
        <td>@Model.Anime.AnimePlayTime</td>
    </tr>
    <tr>
        <td>动画类型：</td>
        <td>@Html.DisplayTextFor(f => f.Anime.AnimeType)</td>
    </tr>
    <tr>
        <td>标签：</td>
        <td>
            @foreach (var item in Model.Anime.Tags)
            {
                <div class="mdui-chip">
                    <span class="mdui-chip-title">@item.TagName</span>
                </div>
            }
        </td>
    </tr>

    @if (Model.IsSignIn && Model.IsSub)
    {
        <tr>
            <th colspan="2">Memo <a asp-route="GetMemo" asp-route-id="@Model.Anime.AnimeID">添加</a></th>
        </tr>
        @foreach (var item in Model.Memos)
        {
            <tr>
                <th colspan="2">
                    <a asp-route="GetEditMemo" asp-route-id="@Model.Anime.AnimeID" asp-route-memoid="@item.ID">编辑</a>
                    记事的集数：@item.NowAnimeNum<br />
                    @item.MemoStr
                </th>
            </tr>
        }

    }



</table>
@Html.AntiForgeryToken()
<script src="~/js/Ajax.js"></script>
<script>

    var el = document.querySelectorAll(".tabs");
    M.Tabs.init(el);

    function Sub() {
        var AnimeID = @Model.Anime.AnimeID;

        new Ajax().Ajax(
            "POST",
            "/BangumiSub" + AnimeID,
            { 
                "AnimeNum": -1
            },
            function (res) {
                var objs = eval(res);
                if (objs[0] == "false" || objs[0] == "true") {
                    alert(objs[1]);
                }
            }
        );
    }

    function upload(number) {
        var AnimeID = @Model.Anime.AnimeID;

        var NowNum = @Model.UserAnimeNumber;
        if (number < NowNum) {
            if (confirm("是否确定更改至看过的集数？") == false) {
                return;
            }
        } else if (number == NowNum) {
            return;
        }
        new Ajax().Ajax(
            "POST",
            "/BangumiSub"+AnimeID,
            {
                "AnimeNum": number
            },
            function (res) {
                var objs = eval(res);
                if (objs[0] == "false" || objs[0] == "true") {
                    alert(objs[1]);
                }
            }
        );
    }
</script>


