@using BangumiProject.Areas.Bangumi.Views.Bangumi.Model
@model Bangumi_OneAnime
@{
    ViewData["Title"] = Model.Anime.AnimeName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mdui-row mdui-m-t-4">
    @* 图片 *@
    <div class="mdui-col-md-3">
        <img src="@Model.AnimePic" class="mdui-img-fluid" />
    </div>

    @* 动画的一些信息 *@
    <div class="mdui-col-md-9">
        @* 动画的标题 *@
        <div class="mdui-col-md-8">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="mdui-col-md-4">
            @if (Model.IsSignIn)
            {
                @if (Model.IsSub)
                {
                    <button class="mdui-btn mdui-btn-raised" >已经订阅</button>
                }
                else
                {
                    <button class="mdui-btn mdui-btn-raised" id="AnimeSub" onclick="Sub();">订阅动画</button>
                }
                @if (Model.IsShowEdit)
                {
                    <a class="mdui-btn mdui-btn-raised" asp-route="@Final.Route_Bangumi_Edit" asp-route-id="@Model.Anime.AnimeID">编辑动画</a>
                }
            }
            else
            {
                <a class="mdui-btn mdui-btn-raised" asp-area="Identity" asp-page="/Account/Login">登录</a>
            }
        </div>
        <div class="mdui-col-md-12">
            <div class="mdui-table-fluid">
                <table class="mdui-table mdui-table-hoverable">
                    <tbody>
                        <tr>
                            <td>动画简介：</td>
                            <td>@Model.Anime.AnimeInfo</td>
                        </tr>
                        <tr>
                            <td>放送时间：</td>
                            <td>@Model.AnimeTime</td>
                        </tr>
                        <tr>
                            <td>动画类型：</td>
                            <td>@Html.DisplayTextFor(f => f.Anime.AnimeType)</td>
                        </tr>
                        <tr>
                            <td>标签：</td>
                            <td>
                                @foreach (var item in Model.Anime.Tags)
                                {
                                    <div class="mdui-chip">
                                        <span class="mdui-chip-title">@item.TagName</span>
                                    </div>
                                }
                            </td>
                        </tr>
                        @if (Model.IsSub)
                        {
                            <tr>
                                <td>已经看到：</td>
                                <td>第 @Model.UserAnimeNumber 集 / 已播出 @Model.Anime.AnimeNum 集</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@* 功能面板 *@
@* 集数计算 *@
@*<div class="mdui-row">

    @{
        int k = 0;
        var num = Model.Anime.AnimeNum;
        int a = 1;
        int b = 10;
    }
    <div class="mdui-tab" mdui-tab>
        @foreach (var item in Model.Page.PageName)
        {
            string id = $"#test{k}";
            <a class="mdui-ripple" href="@id">@item</a>
            k++;
        }
    </div>
    @for (int i = 0; i < Model.Page.AllPage; i++)
    {
        string id = $"test{i}";
        <div id="@id">
            @for (int j = a; j <= b; j++)
            {

                <div class="mdui-col-md-3 mdui-col-sm-6 mdui-m-t-1">
                    <div class="mdui-card">
                        <div class="mdui-card-header">
                            <img class="mdui-card-header-avatar" src="~/images/6c573befgw1fabxbznz9sj20qo0xcdk4.jpg" />
                            <div class="mdui-card-header-title">
                                第 @j 集
                                @if (j == Model.UserAnimeNumber)
                                {
                                    <span class="mdui-float-right">已看</span>
                                }
                            </div>
                            <div class="mdui-card-header-subtitle">动画小标题</div>
                        </div>
                        <div class="mdui-card-actions">
                            <button onclick="upload(@j);" class="mdui-btn mdui-ripple">去B站看</button>
                        </div>
                    </div>
                </div>
                @if ((num = num - 1) == 0)
                {
                    break;
                }
            }
        </div>
        a = a + 10;
        b = b + 10;
    }
</div>*@

@* 功能面板 *@
@*<div class="mdui-row mdui-m-t-2">
    <div class="mdui-col-md-8">
        <div class="mdui-row">
            @if (Model.IsSignIn && Model.IsSub)
            {
                <a asp-route="@Final.Route_BangumiMemo_Create" class="mdui-btn mdui-btn-raised" asp-route-animeid="@Model.Anime.AnimeID">添加</a><br/>
                @foreach (var item in Model.Memos)
                {
                    <div class="mdui-col-md-4 mdui-col-sm-6 mdui-m-t-2">
                        <div class="mdui-card">
                            <div class="mdui-card-primary">
                                <div class="mdui-card-primary-title">大标题</div>
                                <div class="mdui-card-primary-subtitle">@item.NowAnimeNum</div>
                            </div>
                            <div class="mdui-card-content">@item.MemoStr</div>
                            <div class="mdui-card-actions">
                                <a class="mdui-btn mdui-btn-raised" asp-route="GetEditMemo" asp-route-id="@Model.Anime.AnimeID" asp-route-memoid="@item.ID">编辑</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="mdui-col-md-4">
        推荐
    </div>
</div>*@
<partial name="Bangumi_OneAJAX"/>


